@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  #__next {
    @apply h-full;
  }

  html,
  body {
    @apply m-0 h-full p-0 font-sans;
  }

  * {
    @apply box-border;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  .combo {
    @apply relative min-w-[80px];
  }

  .combo::after {
    @apply pointer-events-none absolute top-[50%] right-[12px] h-[8px] w-[8px];
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    border-right: 2px solid rgba(0, 0, 0, 0.5);
    content: '';
    transform: translate(0, -65%) rotate(45deg);
  }
}

@layer utilities {
  .code {
    @apply rounded-md bg-[#fafafa] p-3 font-mono text-lg;
  }
}
